<div class="details-page__wrapper" [ngClass]="{'details-page__wrapper-dark': darkModeActive}">
	<!-- <svg class="background-gradient__circle" viewBox="4572 73 1328 1328">
		<defs>
			<linearGradient id="ddd" x2="0" y2="1" gradientUnits="objectBoundingBox">
				<stop offset="0" stop-color="#ff8b8b" />
				<stop offset="1" stop-color="#6676ff" />
			</linearGradient>
		</defs>
		<circle cx="664" cy="664" r="664" fill="url(#ddd)" transform="translate(4572 73)" />
	</svg> -->

	<!-- <svg class="back__button" routerLink="" viewBox="4085 152 98.5 126">
		<defs>
			<style>
				.a {
					fill: #2b244d;
				}

				.b {
					fill: rgba(0, 0, 0, 0);
				}

				.b,
				.c {
					stroke: #fff;
					stroke-width: 2px;
				}

				.c {
					fill: none;
				}

				.d {
					fill: #fff;
					font-size: 15px;
					font-family: SegoeUI, Segoe UI;
					letter-spacing: 0.4em;
				}
			</style>
		</defs>
		<g transform="translate(3980)">
			<circle class="a" cx="39" cy="39" r="39" transform="translate(105 152)" />
			<line class="b" x1="80" transform="translate(123.5 190.5)" />
			<line class="b" y1="26" x2="26" transform="translate(123.5 164.5)" />
			<line class="c" x1="26" y1="27" transform="translate(123.5 190.5)" />
			<text class="d" transform="translate(117 274)">
				<tspan x="0" y="0">BACK</tspan>
			</text>
		</g>
	</svg> -->

	<section class="main-weather__card-dark">
		<section class="card-header__container-dark" [ngSwitch]="true">

			<svg *ngSwitchDefault viewBox="4302 163 1218 406">
				<defs>
					<style>
						.aa {
							opacity: 0.6;
						}
					</style>
					<linearGradient id="aa" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
						<stop offset="0" stop-color="#23395B" />
						<stop offset="1" stop-color="#406E8E" />
					</linearGradient>
				</defs>
				<path class="aa" fill="url(#aa)" d="M20,0H1198a20,20,0,0,1,20,20V406a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V20A20,20,0,0,1,20,0Z"
				 transform="translate(4302 163)" />
			</svg>

			<div class="header-content__wrapper">

				<div class="today-weather__container">
					<!--{{today}}-->
					<div class="temp-state__container">
						<span class="temperature__text">{{temp}}°</span>
						<span class="weather-state__text">{{state}}</span>
					</div>
					<div class="hum-wind__container">
						<div class="hum__container">
							<span class="hum__text">humidity</span>
							<span class="hum-value__text">{{hum}} %</span>
						</div>

						<div class="hum-wind__separator">&nbsp;</div>

						<div class="wind__container">
							<span class="wind__text">wind</span>
							<span class="wind-value__text">{{wind}} Km/h</span>
						</div>
					</div>
				</div>

				<div class="city-name__container">
					<div class="city-name__underline">
						<span class="city-name__text">{{city}}</span>
					</div>
				</div>
			</div>

		</section>

		<main class="body-content__wrapper">
			<section class="twitter-feed__container">
				<div class="twitter-feed__header">
					<svg class="twitter__icon" viewBox="4332 625.812 30 24.375">
						<defs>
							<style>
								.twitter-icon-fill {
									fill: #03a9f4;
								}
							</style>
						</defs>
						<path class="twitter-icon-fill" d="M30,50.886a12.823,12.823,0,0,1-3.544.971,6.116,6.116,0,0,0,2.706-3.4,12.291,12.291,0,0,1-3.9,1.489,6.15,6.15,0,0,0-10.639,4.206,6.333,6.333,0,0,0,.143,1.4A17.408,17.408,0,0,1,2.089,49.121a6.152,6.152,0,0,0,1.89,8.22A6.074,6.074,0,0,1,1.2,56.584v.067a6.179,6.179,0,0,0,4.928,6.043,6.139,6.139,0,0,1-1.613.2,5.439,5.439,0,0,1-1.164-.1A6.209,6.209,0,0,0,9.1,67.076,12.358,12.358,0,0,1,1.472,69.7,11.521,11.521,0,0,1,0,69.615a17.315,17.315,0,0,0,9.435,2.76c11.318,0,17.505-9.375,17.505-17.5,0-.272-.009-.534-.023-.8A12.269,12.269,0,0,0,30,50.886Z"
						 transform="translate(4332 577.812)" />
					</svg>
					<span class="twitter-feed__text">Twitter Feed</span>
					<a href="https://twitter.com/search?q=%23{{city}}&src=typd" target="_blank"><span class="twitter-feed-tag__text">#{{city}}</span></a>
				</div>
				<div class="twitter-feed__body">
					<!--TODO: retrieve tweets from twitter API-->
				</div>
			</section>

			<section class="forecast__container">

				<div class="day-weather__container" [ngSwitch]="true">
					<span class="day-name__text">{{day1Name}}</span>
					<svg class="forecast-condition__icon" *ngSwitchCase="day1State === 'Clouds'" viewBox="2436.9 -843.1 275.5 274.1">
						<g data-name="cloudy icon" transform="translate(84 790)">
							<circle cx="137" cy="137" r="137" fill="#fff" data-name="Ellipse 23" transform="translate(2354 -1633)" />
							<path fill="#ffde17" d="M2523.4-1361.5a37.2 37.2 0 0 0 8.4-23.4c0-22-19.8-40-44.1-40l-3.4.1h-.5a39.8 39.8 0 0 0-39.4-33.7 40.1 40.1 0 0 0-10 1.2 40 40 0 0 0-35.2-21.2 40.1 40.1 0 0 0-38.5 29 137.4 137.4 0 0 1-7.8-45.8 138.8 138.8 0 0 1 2.8-27.8 137 137 0 0 1 8-25.8 137.8 137.8 0 0 1 12.7-23.4 138.8 138.8 0 0 1 16.8-20.4 138.8 138.8 0 0 1 20.4-16.9 137.8 137.8 0 0 1 23.4-12.7 137 137 0 0 1 25.9-8 138.8 138.8 0 0 1 27.7-2.8 138.8 138.8 0 0 1 27.8 2.8 137 137 0 0 1 25.9 8 137.8 137.8 0 0 1 23.4 12.7 138.8 138.8 0 0 1 20.4 16.9 138.7 138.7 0 0 1 16.8 20.4 137.8 137.8 0 0 1 12.7 23.4 137 137 0 0 1 8 25.8 138.8 138.8 0 0 1 2.8 27.8 137.4 137.4 0 0 1-8 46.1 137.2 137.2 0 0 1-21.9 39.6 138.2 138.2 0 0 1-33.2 30.1 136.8 136.8 0 0 1-41.9 18z"
							 data-name="Subtraction 1" />
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day1State === 'Rain' || day1State === 'Drizzle'" viewBox="3170 -843.1 163.5 242.7">
						<g data-name="Rain Icon">
							<g data-name="Water Drops">
								<path fill="#0032cc" d="M3295.4-824.5s85.8 133.5 0 133.5 0-133.5 0-133.5z" data-name="Path 7" />
								<path fill="#003eff" d="M3239.4-843s-156.1 242.6 0 242.6 0-242.7 0-242.7z" data-name="Path 3" />
							</g>
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day1State === 'Storm'" viewBox="3487.9 -810.7 291.2 200.3">
						<g data-name="Strom icon" transform="translate(1959 -1260.7)">
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 14" rx="55.3" ry="51.7" transform="translate(1529 490.4)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 15" rx="55.3" ry="51.7" transform="translate(1569.6 467.8)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 16" transform="translate(1618.9 476.8)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 17" rx="55.3" ry="51.7" transform="translate(1631.8 450)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 18" rx="55.3" ry="51.7" transform="translate(1687.1 477.5)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 19" rx="55.3" ry="51.7" transform="translate(1709.6 507.3)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 20" transform="translate(1639.6 500.1)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 21" rx="55.3" ry="51.7" transform="translate(1569.6 507.3)" />
							<path fill="none" stroke="#fd0" stroke-width="18" d="M1732.5 644l-61.4-61.4 22.5-10.3 26.8 5.1 9.5-22.4-38-37.2"
							 data-name="Path 59" />
							<path fill="none" stroke="#fd0" stroke-width="15" d="M1597.2 539.5l31.2 25.9-24.8 22.2 17.3 36.2" data-name="Path 60" />
						</g>
					</svg>


					<svg class="forecast-condition__icon" *ngSwitchCase="day1State === 'Sunny' || day1State === 'Clear'" viewBox="2050 -845 262 262">
						<circle cx="131" cy="131" r="131" fill="#ffde17" data-name="Sun Icon" transform="translate(2050 -845)" />
					</svg>

					<span class="day-temp__text">{{day1Temp}}°</span>
					<span class="day-state__text">{{day1State}}</span>
				</div>

				<div class="day-weather__container" [ngSwitch]="true">
					<span class="day-name__text">{{day2Name}}</span>
					<svg class="forecast-condition__icon" *ngSwitchCase="day2State === 'Clouds'" viewBox="2436.9 -843.1 275.5 274.1">
						<g data-name="cloudy icon" transform="translate(84 790)">
							<circle cx="137" cy="137" r="137" fill="#fff" data-name="Ellipse 23" transform="translate(2354 -1633)" />
							<path fill="#ffde17" d="M2523.4-1361.5a37.2 37.2 0 0 0 8.4-23.4c0-22-19.8-40-44.1-40l-3.4.1h-.5a39.8 39.8 0 0 0-39.4-33.7 40.1 40.1 0 0 0-10 1.2 40 40 0 0 0-35.2-21.2 40.1 40.1 0 0 0-38.5 29 137.4 137.4 0 0 1-7.8-45.8 138.8 138.8 0 0 1 2.8-27.8 137 137 0 0 1 8-25.8 137.8 137.8 0 0 1 12.7-23.4 138.8 138.8 0 0 1 16.8-20.4 138.8 138.8 0 0 1 20.4-16.9 137.8 137.8 0 0 1 23.4-12.7 137 137 0 0 1 25.9-8 138.8 138.8 0 0 1 27.7-2.8 138.8 138.8 0 0 1 27.8 2.8 137 137 0 0 1 25.9 8 137.8 137.8 0 0 1 23.4 12.7 138.8 138.8 0 0 1 20.4 16.9 138.7 138.7 0 0 1 16.8 20.4 137.8 137.8 0 0 1 12.7 23.4 137 137 0 0 1 8 25.8 138.8 138.8 0 0 1 2.8 27.8 137.4 137.4 0 0 1-8 46.1 137.2 137.2 0 0 1-21.9 39.6 138.2 138.2 0 0 1-33.2 30.1 136.8 136.8 0 0 1-41.9 18z"
							 data-name="Subtraction 1" />
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day2State === 'Rain' || day2State === 'Drizzle'" viewBox="3170 -843.1 163.5 242.7">
						<g data-name="Rain Icon">
							<g data-name="Water Drops">
								<path fill="#0032cc" d="M3295.4-824.5s85.8 133.5 0 133.5 0-133.5 0-133.5z" data-name="Path 7" />
								<path fill="#003eff" d="M3239.4-843s-156.1 242.6 0 242.6 0-242.7 0-242.7z" data-name="Path 3" />
							</g>
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day2State === 'Storm'" viewBox="3487.9 -810.7 291.2 200.3">
						<g data-name="Strom icon" transform="translate(1959 -1260.7)">
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 14" rx="55.3" ry="51.7" transform="translate(1529 490.4)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 15" rx="55.3" ry="51.7" transform="translate(1569.6 467.8)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 16" transform="translate(1618.9 476.8)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 17" rx="55.3" ry="51.7" transform="translate(1631.8 450)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 18" rx="55.3" ry="51.7" transform="translate(1687.1 477.5)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 19" rx="55.3" ry="51.7" transform="translate(1709.6 507.3)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 20" transform="translate(1639.6 500.1)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 21" rx="55.3" ry="51.7" transform="translate(1569.6 507.3)" />
							<path fill="none" stroke="#fd0" stroke-width="18" d="M1732.5 644l-61.4-61.4 22.5-10.3 26.8 5.1 9.5-22.4-38-37.2"
							 data-name="Path 59" />
							<path fill="none" stroke="#fd0" stroke-width="15" d="M1597.2 539.5l31.2 25.9-24.8 22.2 17.3 36.2" data-name="Path 60" />
						</g>
					</svg>


					<svg class="forecast-condition__icon" *ngSwitchCase="day2State === 'Sunny' || day2State === 'Clear'" viewBox="2050 -845 262 262">
						<circle cx="131" cy="131" r="131" fill="#ffde17" data-name="Sun Icon" transform="translate(2050 -845)" />
					</svg>
					<span class="day-temp__text">{{day2Temp}}°</span>
					<span class="day-state__text">{{day2State}}</span>
				</div>

				<div class="day-weather__container" [ngSwitch]="true">
					<span class="day-name__text">{{day3Name}}</span>
					<svg class="forecast-condition__icon" *ngSwitchCase="day3State === 'Clouds'" viewBox="2436.9 -843.1 275.5 274.1">
						<g data-name="cloudy icon" transform="translate(84 790)">
							<circle cx="137" cy="137" r="137" fill="#fff" data-name="Ellipse 23" transform="translate(2354 -1633)" />
							<path fill="#ffde17" d="M2523.4-1361.5a37.2 37.2 0 0 0 8.4-23.4c0-22-19.8-40-44.1-40l-3.4.1h-.5a39.8 39.8 0 0 0-39.4-33.7 40.1 40.1 0 0 0-10 1.2 40 40 0 0 0-35.2-21.2 40.1 40.1 0 0 0-38.5 29 137.4 137.4 0 0 1-7.8-45.8 138.8 138.8 0 0 1 2.8-27.8 137 137 0 0 1 8-25.8 137.8 137.8 0 0 1 12.7-23.4 138.8 138.8 0 0 1 16.8-20.4 138.8 138.8 0 0 1 20.4-16.9 137.8 137.8 0 0 1 23.4-12.7 137 137 0 0 1 25.9-8 138.8 138.8 0 0 1 27.7-2.8 138.8 138.8 0 0 1 27.8 2.8 137 137 0 0 1 25.9 8 137.8 137.8 0 0 1 23.4 12.7 138.8 138.8 0 0 1 20.4 16.9 138.7 138.7 0 0 1 16.8 20.4 137.8 137.8 0 0 1 12.7 23.4 137 137 0 0 1 8 25.8 138.8 138.8 0 0 1 2.8 27.8 137.4 137.4 0 0 1-8 46.1 137.2 137.2 0 0 1-21.9 39.6 138.2 138.2 0 0 1-33.2 30.1 136.8 136.8 0 0 1-41.9 18z"
							 data-name="Subtraction 1" />
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day3State === 'Rain' || day3State === 'Drizzle'" viewBox="3170 -843.1 163.5 242.7">
						<g data-name="Rain Icon">
							<g data-name="Water Drops">
								<path fill="#0032cc" d="M3295.4-824.5s85.8 133.5 0 133.5 0-133.5 0-133.5z" data-name="Path 7" />
								<path fill="#003eff" d="M3239.4-843s-156.1 242.6 0 242.6 0-242.7 0-242.7z" data-name="Path 3" />
							</g>
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day3State === 'Storm'" viewBox="3487.9 -810.7 291.2 200.3">
						<g data-name="Strom icon" transform="translate(1959 -1260.7)">
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 14" rx="55.3" ry="51.7" transform="translate(1529 490.4)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 15" rx="55.3" ry="51.7" transform="translate(1569.6 467.8)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 16" transform="translate(1618.9 476.8)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 17" rx="55.3" ry="51.7" transform="translate(1631.8 450)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 18" rx="55.3" ry="51.7" transform="translate(1687.1 477.5)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 19" rx="55.3" ry="51.7" transform="translate(1709.6 507.3)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 20" transform="translate(1639.6 500.1)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 21" rx="55.3" ry="51.7" transform="translate(1569.6 507.3)" />
							<path fill="none" stroke="#fd0" stroke-width="18" d="M1732.5 644l-61.4-61.4 22.5-10.3 26.8 5.1 9.5-22.4-38-37.2"
							 data-name="Path 59" />
							<path fill="none" stroke="#fd0" stroke-width="15" d="M1597.2 539.5l31.2 25.9-24.8 22.2 17.3 36.2" data-name="Path 60" />
						</g>
					</svg>


					<svg class="forecast-condition__icon" *ngSwitchCase="day3State === 'Sunny' || day3State === 'Clear'" viewBox="2050 -845 262 262">
						<circle cx="131" cy="131" r="131" fill="#ffde17" data-name="Sun Icon" transform="translate(2050 -845)" />
					</svg>

					<span class="day-temp__text">{{day3Temp}}°</span>
					<span class="day-state__text">{{day3State}}</span>
				</div>


				<div class="day-weather__container" [ngSwitch]="true">
					<span class="day-name__text">{{day4Name}}</span>
					<svg class="forecast-condition__icon" *ngSwitchCase="day4State === 'Clouds'" viewBox="2436.9 -843.1 275.5 274.1">
						<g data-name="cloudy icon" transform="translate(84 790)">
							<circle cx="137" cy="137" r="137" fill="#fff" data-name="Ellipse 23" transform="translate(2354 -1633)" />
							<path fill="#ffde17" d="M2523.4-1361.5a37.2 37.2 0 0 0 8.4-23.4c0-22-19.8-40-44.1-40l-3.4.1h-.5a39.8 39.8 0 0 0-39.4-33.7 40.1 40.1 0 0 0-10 1.2 40 40 0 0 0-35.2-21.2 40.1 40.1 0 0 0-38.5 29 137.4 137.4 0 0 1-7.8-45.8 138.8 138.8 0 0 1 2.8-27.8 137 137 0 0 1 8-25.8 137.8 137.8 0 0 1 12.7-23.4 138.8 138.8 0 0 1 16.8-20.4 138.8 138.8 0 0 1 20.4-16.9 137.8 137.8 0 0 1 23.4-12.7 137 137 0 0 1 25.9-8 138.8 138.8 0 0 1 27.7-2.8 138.8 138.8 0 0 1 27.8 2.8 137 137 0 0 1 25.9 8 137.8 137.8 0 0 1 23.4 12.7 138.8 138.8 0 0 1 20.4 16.9 138.7 138.7 0 0 1 16.8 20.4 137.8 137.8 0 0 1 12.7 23.4 137 137 0 0 1 8 25.8 138.8 138.8 0 0 1 2.8 27.8 137.4 137.4 0 0 1-8 46.1 137.2 137.2 0 0 1-21.9 39.6 138.2 138.2 0 0 1-33.2 30.1 136.8 136.8 0 0 1-41.9 18z"
							 data-name="Subtraction 1" />
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day4State === 'Rain' || day4State === 'Drizzle'" viewBox="3170 -843.1 163.5 242.7">
						<g data-name="Rain Icon">
							<g data-name="Water Drops">
								<path fill="#0032cc" d="M3295.4-824.5s85.8 133.5 0 133.5 0-133.5 0-133.5z" data-name="Path 7" />
								<path fill="#003eff" d="M3239.4-843s-156.1 242.6 0 242.6 0-242.7 0-242.7z" data-name="Path 3" />
							</g>
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day4State === 'Storm'" viewBox="3487.9 -810.7 291.2 200.3">
						<g data-name="Strom icon" transform="translate(1959 -1260.7)">
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 14" rx="55.3" ry="51.7" transform="translate(1529 490.4)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 15" rx="55.3" ry="51.7" transform="translate(1569.6 467.8)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 16" transform="translate(1618.9 476.8)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 17" rx="55.3" ry="51.7" transform="translate(1631.8 450)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 18" rx="55.3" ry="51.7" transform="translate(1687.1 477.5)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 19" rx="55.3" ry="51.7" transform="translate(1709.6 507.3)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 20" transform="translate(1639.6 500.1)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 21" rx="55.3" ry="51.7" transform="translate(1569.6 507.3)" />
							<path fill="none" stroke="#fd0" stroke-width="18" d="M1732.5 644l-61.4-61.4 22.5-10.3 26.8 5.1 9.5-22.4-38-37.2"
							 data-name="Path 59" />
							<path fill="none" stroke="#fd0" stroke-width="15" d="M1597.2 539.5l31.2 25.9-24.8 22.2 17.3 36.2" data-name="Path 60" />
						</g>
					</svg>


					<svg class="forecast-condition__icon" *ngSwitchCase="day4State === 'Sunny' || day4State === 'Clear'" viewBox="2050 -845 262 262">
						<circle cx="131" cy="131" r="131" fill="#ffde17" data-name="Sun Icon" transform="translate(2050 -845)" />
					</svg>

					<span class="day-temp__text">{{day4Temp}}°</span>
					<span class="day-state__text">{{day4State}}</span>
				</div>

				<div class="day-weather__container" [ngSwitch]="true">
					<span class="day-name__text">{{day5Name}}</span>
					<svg class="forecast-condition__icon" *ngSwitchCase="day5State === 'Clouds'" viewBox="2436.9 -843.1 275.5 274.1">
						<g data-name="cloudy icon" transform="translate(84 790)">
							<circle cx="137" cy="137" r="137" fill="#fff" data-name="Ellipse 23" transform="translate(2354 -1633)" />
							<path fill="#ffde17" d="M2523.4-1361.5a37.2 37.2 0 0 0 8.4-23.4c0-22-19.8-40-44.1-40l-3.4.1h-.5a39.8 39.8 0 0 0-39.4-33.7 40.1 40.1 0 0 0-10 1.2 40 40 0 0 0-35.2-21.2 40.1 40.1 0 0 0-38.5 29 137.4 137.4 0 0 1-7.8-45.8 138.8 138.8 0 0 1 2.8-27.8 137 137 0 0 1 8-25.8 137.8 137.8 0 0 1 12.7-23.4 138.8 138.8 0 0 1 16.8-20.4 138.8 138.8 0 0 1 20.4-16.9 137.8 137.8 0 0 1 23.4-12.7 137 137 0 0 1 25.9-8 138.8 138.8 0 0 1 27.7-2.8 138.8 138.8 0 0 1 27.8 2.8 137 137 0 0 1 25.9 8 137.8 137.8 0 0 1 23.4 12.7 138.8 138.8 0 0 1 20.4 16.9 138.7 138.7 0 0 1 16.8 20.4 137.8 137.8 0 0 1 12.7 23.4 137 137 0 0 1 8 25.8 138.8 138.8 0 0 1 2.8 27.8 137.4 137.4 0 0 1-8 46.1 137.2 137.2 0 0 1-21.9 39.6 138.2 138.2 0 0 1-33.2 30.1 136.8 136.8 0 0 1-41.9 18z"
							 data-name="Subtraction 1" />
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day5State === 'Rain' || day5State === 'Drizzle'" viewBox="3170 -843.1 163.5 242.7">
						<g data-name="Rain Icon">
							<g data-name="Water Drops">
								<path fill="#0032cc" d="M3295.4-824.5s85.8 133.5 0 133.5 0-133.5 0-133.5z" data-name="Path 7" />
								<path fill="#003eff" d="M3239.4-843s-156.1 242.6 0 242.6 0-242.7 0-242.7z" data-name="Path 3" />
							</g>
						</g>
					</svg>

					<svg class="forecast-condition__icon" *ngSwitchCase="day5State === 'Storm'" viewBox="3487.9 -810.7 291.2 200.3">
						<g data-name="Strom icon" transform="translate(1959 -1260.7)">
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 14" rx="55.3" ry="51.7" transform="translate(1529 490.4)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 15" rx="55.3" ry="51.7" transform="translate(1569.6 467.8)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 16" transform="translate(1618.9 476.8)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 17" rx="55.3" ry="51.7" transform="translate(1631.8 450)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 18" rx="55.3" ry="51.7" transform="translate(1687.1 477.5)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 19" rx="55.3" ry="51.7" transform="translate(1709.6 507.3)" />
							<circle cx="55.3" cy="55.3" r="55.3" class="cls-1" data-name="Ellipse 20" transform="translate(1639.6 500.1)" />
							<ellipse cx="55.3" cy="51.7" class="cls-1" data-name="Ellipse 21" rx="55.3" ry="51.7" transform="translate(1569.6 507.3)" />
							<path fill="none" stroke="#fd0" stroke-width="18" d="M1732.5 644l-61.4-61.4 22.5-10.3 26.8 5.1 9.5-22.4-38-37.2"
							 data-name="Path 59" />
							<path fill="none" stroke="#fd0" stroke-width="15" d="M1597.2 539.5l31.2 25.9-24.8 22.2 17.3 36.2" data-name="Path 60" />
						</g>
					</svg>


					<svg class="forecast-condition__icon" *ngSwitchCase="day5State === 'Sunny' || day5State === 'Clear'" viewBox="2050 -845 262 262">
						<circle cx="131" cy="131" r="131" fill="#ffde17" data-name="Sun Icon" transform="translate(2050 -845)" />
					</svg>

					<span class="day-temp__text">{{day5Temp}}°</span>
					<span class="day-state__text">{{day5State}}</span>
				</div>
			</section>


		</main>

	</section>

</div>